@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@layer base {
  :root {
    --font-family: 'Manrope', sans-serif;
    --background: #ffffff;
    --foreground: #0b1222;

    --card: #ffffff;
    --card-foreground: #0b1222;

    --popover: #ffffff;
    --popover-foreground: #0b1222;

    --primary: #1a2333;
    --primary-foreground: #f2f7fc;

    --secondary: #f1f5f9;
    --secondary-foreground: #1a2333;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1a2333;

    --destructive: #ef4444;
    --destructive-foreground: #f2f7fc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0b1222;

    --radius: 0.5rem;

    --chart-1: #e85d3d;
    --chart-2: #2d9187;
    --chart-3: #1f3d4c;
    --chart-4: #dba543;
    --chart-5: #e81f66;

    --sidebar-background: #191919;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #2f62ea;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282828;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #282828;
    --sidebar-ring: #4d90ff;
  }

  .dark {
    --background: #06140e;
    --foreground: #f2f7fc;

    --card: #0b221b;
    --card-foreground: #f2f7fc;

    --popover: #0b221d;
    --popover-foreground: #f2f7fc;

    --primary: #f2f7fc;
    --primary-foreground: #1a2333;

    --secondary: #232b3d;
    --secondary-foreground: #f2f7fc;

    --muted: #233d30;
    --muted-foreground: #9baea7;

    --accent: #233d35;
    --accent-foreground: #f2fcfb;

    --destructive: #7d1a1a;
    --destructive-foreground: #f2f7fc;

    --border: #49524f;
    --input: #49524f;
    --ring: #c6ded6;
    --chart-1: #1a56e8;
    --chart-2: #2a9b76;
    --chart-3: #e67300;
    --chart-4: #8c33e8;
    --chart-5: #e81f66;

    --sidebar-background: #1a1c1c;
    --sidebar-foreground: #f3f4f4;
    --sidebar-primary: #3b65e5;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #272729;
    --sidebar-accent-foreground: #f3f3f4;
    --sidebar-border: #272729;
    --sidebar-ring: #4d8ef7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family);
  }
}
