@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Libre+Bodoni:wght@400;500;600;700&display=swap');

@layer base {
  :root {
    --font-family: 'Josefin Sans', sans-serif;
    --font-family-headings: 'Libre Bodoni', serif;
    --background: #ffffff;
    --foreground: #0b1222;

    --card: #ffffff;
    --card-foreground: #0b1222;

    --popover: #ffffff;
    --popover-foreground: #0b1222;

    --primary: #1a2333;
    --primary-foreground: #f2f7fc;

    --secondary: #f1f5f9;
    --secondary-foreground: #1a2333;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1a2333;

    --destructive: #ef4444;
    --destructive-foreground: #f2f7fc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0b1222;

    --radius: 0.5rem;

    --chart-1: #e85d3d;
    --chart-2: #2d9187;
    --chart-3: #1f3d4c;
    --chart-4: #dba543;
    --chart-5: #e81f66;

    --sidebar-background: #191919;
    --sidebar-foreground: #f4f4f5;
    --sidebar-primary: #2f62ea;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #282828;
    --sidebar-accent-foreground: #f4f4f5;
    --sidebar-border: #282828;
    --sidebar-ring: #4d90ff;
  }

  .dark {
    --background: #09140e;
    --foreground: #f2f7fc;

    --card: #161e1a;
    --card-foreground: #f2f7fc;

    --popover: #15211b;
    --popover-foreground: #f2f7fc;

    --primary: #f2f7fc;
    --primary-foreground: #09140e;

    --secondary: #162921;
    --secondary-foreground: #f2f7fc;

    --muted: #212322;
    --muted-foreground: #9baea7;

    --accent: #262e2b;
    --accent-foreground: #f2fcfb;

    --destructive: #932121;
    --destructive-foreground: #f2f7fc;

    --border: #3f4241;
    --input: #535655;
    --ring: #c6ded6;

    --chart-1: #4d90ff;
    --chart-2: #2ed3b7;
    --chart-3: #ff9f57;
    --chart-4: #b57fff;
    --chart-5: #ff5c8f;

    --sidebar-background: #09140e;
    --sidebar-foreground: #f3f4f4;
    --sidebar-primary: #4d90ff;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #0f1d15;
    --sidebar-accent-foreground: #f3f3f4;
    --sidebar-border: #1f3a2e;
    --sidebar-ring: #4d8ef7;
  }

  /* Add heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-headings);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-x: none;
}

/* Add these styles */
#dialog-portal {
  position: fixed;
  pointer-events: none;
  z-index: 50;
}

#dialog-portal > * {
  pointer-events: auto;
}
